

@keyframes fallOffScreen {
    100% {
        transform: translateY(150vh);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    35% {
        opacity: 100%;
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.breath {
    opacity: 0;
    animation: breathing ;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 2s;
}


.fallOff {
    animation-timing-function: cubic-bezier(0.310, 0.440, 0.445, 1.650); /* cubic-bezier(0.33333, 0, 0.66667, 0.33333); /*  cubic-bezier(0.30, 2.40, 0.85, 2.50); */
    animation: fallOffScreen;
    animation-fill-mode: forwards;
}


.fadeIn {
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}


.oneSec {
    animation-duration: 1s;
}
.twoSec {
    animation-duration: 2s;
}
.threeSec {
    animation-duration: 3s;
}
.fourSec {
    animation-duration: 4s;
}


.peekABoo {
    border-radius: 100px;
}
