html,
body {
  padding: 0;
  margin: 0;
  /* font-family:  "Brandon Grotesque",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

    scroll-behavior: smooth;

    --color-dark: rgb(255,241,208);
    --color-muted: rgba(55, 53, 47, 0.8);
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: rgba(25,25,25);
        color: var(--color-dark);
    }

    .notion {
        color: white !important;
    }

}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .notion-page code {
        font-size: 12px !important;
    }
}


button:hover {
    text-decoration: underline;
    cursor: pointer;
}


.notion-callout {
    --notion-gray_background_co: rgb(241, 241, 239);

    @media (prefers-color-scheme: dark) {
        background-image: url(/textures/speckled/PINK_STARBURST.png);
        color: black;

    }

}

.notion-table-of-contents-item {
    color: rgba(0,0,0,0.9) !important;
    font-size: 0.8em !important;

    @media (prefers-color-scheme: dark) {
        color: rgba(255,255,255,0.9) !important;
    }
}

.notion-list-numbered li {
    padding: 0 !important;
}

.notion-hash-link {
    @media (prefers-color-scheme: dark) {
        fill: white !important;
    }

}


.notion-hash-link svg {
    width: 24px !important;
    height: 24px !important;

    margin-bottom: 4px;

}


code {
    font-family: monospace !important;
}


.notion b {
    font-weight: 400 !important;
}


.notion-hr {
    background-color: rgba(0, 0, 0, 0.2);
    height: 2px;

    @media (prefers-color-scheme: dark) {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.notion-asset-wrapper {
max-width: 100% !important;
}

.notion-asset-wrapper > div {
    height: fit-content !important;
}

.notion-asset-wrapper img,video {
    border-radius: 10px;
    /* Not sure I like this */
    /* box-shadow: 2px 2px 4px hsl(0deg 0% 0% / 0.40); */
}

.notion-quote {
    font-style: italic;
}

.katex {
    font-size: 1.0em !important;
}

.notion-asset-caption {
    font-size: 0.8em !important;
}

.notion-equation-block {
    display: flex;
    align-items: center;
}

.notion-simple-table td {
    border: 2px solid darkslategray !important;
}