html,
body {
  padding: 0;
  margin: 0;
  font-family:  "Brandon Grotesque",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    scroll-behavior: smooth;

    --color-dark: rgb(255,241,208);
    --color-muted: rgba(55, 53, 47, 0.8);
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: rgba(25,25,25);
        color: var(--color-dark);
    }

    .notion {
        color: white !important;
    }

}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .notion-page code {
        font-size: 12px !important;
    }
}


button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.notion-page {
    font-family: sans-serif !important;
    font-weight: 400;
}

.notion-callout {
    --notion-gray_background_co: rgb(241, 241, 239);

    @media (prefers-color-scheme: dark) {
        background-image: url(/textures/speckled/PAPER.png);
        color: black;

    }

}

.notion-table-of-contents {
    color: rgba(0,0,0,0.9) !important;
}

.notion-list-numbered li {
    padding: 0 !important;
}

code {
    font-family: monospace !important;
}


.notion-simple-table td {
    border: 2px solid darkslategray !important;
}