html,
body {
  padding: 0;
  margin: 0;
  font-family:  "Brandon Grotesque",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    scroll-behavior: smooth;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}


button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.notion-page {
    font-family: sans-serif !important;
    font-weight: 400;
}

.notion-callout {
    --notion-gray_background_co: white;
}

.notion-table-of-contents {
    color: rgba(0,0,0,0.9) !important;
}

.notion-list-numbered li {
    padding: 0 !important;
}

code {
    font-family: monospace !important;
}
